<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Insumos</title>
</head>
<body>
    <h1>Lista de Insumos</h1>
    <a href="{% url 'agregar_insumo' %}">Agregar Insumo</a>
    <a href="{% url 'realizar_operacion' %}">Realizar Operación</a>
    <ul>
        {% for insumo in insumos %}
            <li>{{ insumo.nombre }} - {{ insumo.cantidadDisponible }} {{ insumo.unidadMedida }}</li>
        {% endfor %}
    </ul>
</body>
</html>